.header {
	padding: 10px;
	text-align: center;
  }
  
  .header-main {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .header-icon {
	width: 40px;
	height: 40px;
  }
  
  .header-logo {
	background-color: black;
	width: 100vh;
	height: 80px;
  }
  
  .header-item {
	background-color: skyblue;
	transition: background-color 1s ease;
	border-radius: 10px;
	display: inline-block;
	padding: 10px;
	margin: 0 10px;
  }
  
  .header-item:hover {
	background-color: gray;
  }
  
  .header-item .link {
	text-decoration: none;
	color: inherit;
  }
  