.sidebar {
    width: 300px;
    height: 100vh;
    background-color:aliceblue;
    color: black;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    font-size:small;
  }
  
  .sidebar-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(49, 170, 226) 50%);
    background-position: 0 0;
    background-size: 200% auto;
    transition: .3s;
  }

  .sidebar .link{
  	text-decoration: none;
  }
  
  .sidebar-item:hover {
    background-position: -100% 0;
    color: #fff;  }
  
  .sidebar-item span {
    margin-left: 10px;
  }